body {
	background-color: #f2f2f2;
	 font-family: 'Actor';
}

.page-header {
	border-radius: 25px;
	background-color: #092052;/*#ccffff;*/
	color: #f2f2f2;/*#001a1a;*/
	opacity: .85;
	margin-top: 10px;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

img {
	border-radius: 25px;
	border: 2px solid #233a30;
	padding-right: 1px;
	margin-right: 0px;
}

#imageHolder {
	padding-right: 1px;
	margin-left: 180px;
	margin-right: 0px; 

}

#col-sm-4 {
	/* float: center; */
	border-radius: 25px;

}

.slide {
	float: left;
	position: absolute;
	opacity: 0;
	transition: opacity 3s linear;
}

.slide-wrapper {
	margin: 10px;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#text-center {
	margin-right: 150px;
	margin-left: 0px;
	float: right;
	padding-top: 20px;
	padding-bottom: 20px; 
}

.btn-primary {
	color: #092052;
	background-color: #8c8d8d;
	border-color: #233a30;
	float: center;
	margin-top: 36%;
	margin-left: 30%;
}

.btn-default {
	color: #001a1a;
	background-color: #8c8d8d;
	border-color: #233a30;
	margin-bottom: 5px;
}

.btn-primary:hover {
	color: #f2f2f2;
	background-color: #092052;
	border-color: #8c8d8d;
}

/*#1 {
	float: left;
}*/

.panel-heading {
	color: #054728;
}

.panel-body {
	color: #054728;
}

.panel-default {
	color: #8c8d8d;
}

.panel-title {
	color: #8c8d8d;
}

.bold a:link {
	color: #054728;
}

.bold a:visited {
	color: #054728;
}

.bold a:hover {
	color: #c1af6c;
}

.modal-content {
	color: #054728;
	
}

.chosen-select:active, .chosen-select:hover {
	color: #8c8d8d;
}

#submit {
	color: #001a1a;
	background-color: #8c8d8d;
	border-color: #233a30;
}

#submit:hover {
	color: #8c8d8d;
	background-color: #8c8d8d;
	border-color: #c1af6c;
}

#jumbo_h2 {
	color: #c1af6c;
}

footer {
	position: absolute; 
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	float: center;
}